.layout_color {
  background-color: rgb(245, 245, 245);
  display: flex;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
}

.layout_content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  min-width: 0;
  height: 100%;
  margin: 20px;
}
