.file-form-container {
  padding: 16px;
}

.file-form-alert {
  margin-bottom: 24px;
}

.file-line-container {
  margin-bottom: 16px;
}

.file-type-select {
  width: 356px !important;

  .MuiOutlinedInput-root {
    border-radius: 8px;
  }
}

.file-cabinet-select {
  width: 356px !important;

  .MuiOutlinedInput-root {
    border-radius: 8px;
  }
}

.file-description-field {
  width: 356px !important;

  .MuiOutlinedInput-root {
    border-radius: 8px;
  }
}

.file-upload-container {
  width: 1102px;
}

.file-upload-button {
  height: 56px;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
}

.file-upload-error {
  margin-top: 4px;
  display: block;
}

.file-upload-caption {
  margin-top: 4px;
  display: block;
}

.current-file-display {
  padding: 16px;
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  width: 355px;
}

.button-container {
  margin-top: 16px;

  .add-line-button {
    background-color: #1e40af !important;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    height: 50px;
    width: 100% !important;

    &:hover {
      background-color: #1e40af !important;
    }

    &.with-remove-button {
      margin-bottom: 16px;
    }
  }

  .remove-line-button {
    height: 50px;
    border-color: #dc2626 !important;
    color: #dc2626 !important;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
    width: 100% !important;

    &:hover {
      background-color: #fef2f2;
      border-color: #b91c1c;
    }
  }
}

.loading-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
